P{font-family:times new roman,arial;
  font-size:18px;
  color:orange;
}
header{background: linear-gradient(to left, lightblue, purple);
}
}
header {
  padding: 50px;
  margin-bottom: 25px;
  border: 7px lightblue;
}
nav{
  background-color: lightpink;
border:20px, blue;
outline:20px, blue;
}
h1 {font-family:segoe ui,arial, time new roman; 
font-size:50px;
letter-spacing:3px;
color: lightgrey;
font-weight: bold;
text-align:center;
  background-color: grey;
  border: 5px solid black;
}
a {text-decoration: none;
letter-spacing: 2px;
color: black;
display: flex;
font-family: times new roman, arial;
font-size: 23px; 
color: red;
  text-align: center;
}
h2{ font-family: segoe ui, arial;
margin: 10px;
padding: 10px;
}
table {border-collapse: collapse;
width:50px;
hight: 20px;
font-family: segoe ui, arial;
background-color: lightgrey ;
  font-size: 20px ;
  text-align: center ;
  margin-left: auto ;
  margin-right: auto ;
 }
